@use "../utils/variables" as colors;

.card__header {
  .header__img {
    padding: 1rem;
    background-color: colors.$rounded;
    border-radius: 50%;
  }

  .header__stars {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.65rem 1rem  0.5rem 1rem;
    background-color: colors.$rounded;
    color: colors.$orange;
    border-radius: 2rem;

    p {
      margin: 0.1rem 0 0 0;
    }
  }
}