@use "../utils/variables" as colors;

.attribution {
  margin-top: 2rem;
  text-align: center;

  a {
    color: colors.$orange;
    text-decoration: none;

    &:visited {
      color: coral;
    }
  }
}